@model Zeun.Web.Models.OgretimElemaniViewModel
@{
    Layout = "~/Views/Shared/_OgretimELemaniLayout.cshtml";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğretim Elemanı Ders Programı</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px;
            font-size: 14px;
        }

        th {
            background-color: #f2f2f2;
        }

        .highlight {
            background-color: #e6f7ff;
            text-align: center;
        }
    </style>
</head>



<body>

    <h2>Öğretim Elemanı Ders Programı</h2>

    <table>
        <tr>
            <th>Saat</th>
            <th>Pazartesi</th>
            <th>Salı</th>
            <th>Çarşamba</th>
            <th>Perşembe</th>
            <th>Cuma</th>
        </tr>
        <tr>
            <td class="highlight">08:45-09:30</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">09:35-10:20</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td class="highlight">YMM4143<br>Makine Öğrenmesi<br>Dr. Öğr. Üyesi Buket TOPTAŞ<br>6 Nolu Derslik</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">10:25-11:10</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">11:15-12:00</td>
            <td>BOŞ</td>
            <td class="highlight">YMM4150<br>Veri Bilimi<br>Dr. Öğr. Üyesi Serhat KILIÇARSLAN<br>Bilgisayar Lab.</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">12:00-12:50</td>
            <td colspan="5" class="highlight">ÖĞLE ARASI</td>
        </tr>
        <tr>
            <td class="highlight">12:50-13:35</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">13:40-14:25</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">14:30-15:15</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">15:20-16:05</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">16:10-16:55</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
        <tr>
            <td class="highlight">17:00-17:45</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
            <td>BOŞ</td>
        </tr>
    </table>

</body>

