@model Zeun.Web.Models.OgretimElemaniViewModel
@{
    Layout = "~/Views/Shared/_OgretimELemaniLayout.cshtml";
}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
        }

        .info-box {
            padding: 50px;
            margin-bottom: 20px;
            transition: box-shadow 0.3s ease-in-out;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

            .info-box:hover {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            }

        .info-title {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .info-box p {
            margin-bottom: 10px;
            line-height: 1.5;
        }

        img {
            border-radius: 50%;
            max-width: 100%;
            height: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .fa {
            margin-right: 8px;
            font-size: 18px;
        }

        .info-box-blue {
            background-color: #7795aa;
            border: 1px solid #54778a;
        }

        .info-box-brown {
            background-color: #b88882;
        }

        .info-box-green {
            background-color: #829a8c;
            border: 1px solid #6c7c70;
        }
    </style>
</head>

<body>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Öğretim Elemanı Özlük Bilgileri</h2>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="info-box info-box-blue">
                    <h3 class="info-title"><i class="fas fa-user"></i> Genel Bilgiler</h3>
                    <p><strong><i class="fa fa-user"></i> Adı Soyadı:</strong> Adı Soyadı</p>
                    <p><strong><i class="fa fa-id-card"></i> T.C. Kimlik No:</strong> XXXXXXXX</p>
                    <p><strong><i class="fa fa-map-marker-alt"></i> Doğum Yeri ve Tarihi:</strong> Şehir, 01.01.1970</p>
                </div>

                <div class="info-box info-box-brown">
                    <h3 class="info-title"><i class="fa fa-building"></i> Kurumsal Bilgiler</h3>
                    <p><strong><i class="fa fa-book"></i> Bölüm:</strong> Bilgisayar Mühendisliği</p>
                    <p><strong><i class="fa fa-id-badge"></i> Sicil No:</strong> 12345</p>
                    <p><strong><i class="fa fa-user-tie"></i> Ünvanı:</strong> Prof. Dr.</p>
                </div>

                <div class="info-box info-box-green">
                    <h3 class="info-title"><i class="fa fa-envelope"></i> İletişim Bilgileri</h3>

                    <p><strong><i class="fa fa-home"></i> Adres:</strong> Öğretim Elemanı Adresi</p>
                    <p><strong><i class="fa fa-phone"></i> Telefon Numarası:</strong> 555-555-5555</p>
                    <p><strong><i class="fa fa-envelope"></i> E-posta:</strong> example@example.com</p>
                </div>
            </div>
        </div>
    </div>

</body>

